{% extends 'base.html' %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}
	<div class="login-form-wrap col-md-4 col-md-offset-4">
		{% include 'includes/login_register_nav.html' with signup_active=True %}

		<h2 class="login-form-title text-center ">{% trans 'Sign Up' %}</h2>

		<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
		  {% csrf_token %}
		  {{ form.as_p }}
		  {% if redirect_field_value %}
		  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
		  {% endif %}
		  <button type="submit" class="btn btn-default">{% trans "Sign Up" %} &raquo;</button>
		</form>
	</div>

{% endblock %}