{% load static %}
<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header pull-right">
			<a href="#" class="navbar-toggle" data-toggle="collapse" data-target="#p2pu-menu">
				<i class="fa fa-bars"></i>
			</a>
		</div>
		<ul class="brand nav navbar-nav pull-left">
			<li>
				<a href="#">
					<img src="{% static 'img/p2pu-logo.png' %}" alt="Site Logo" />
				</a>
			</li>
			<li><a class="p2pu-tab" href="#"><></a></li>
		</ul>
		<div class="collapse navbar-collapse" id="p2pu-menu">
			<ul class="subnav nav navbar-nav">
				<li>
					<a href="http://community.p2pu.org/" target="_blank">Community</a>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>